{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}"
                                       class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-organization-cat').submit() : false;"><i
                            class="fa fa-trash"></i></button>
            </div>
            <h1>Категории организаций</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Список категорий</h3>
            </div>
            <div class="panel-body">
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-organization-cat">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center"><input type="checkbox"
                                                                                   onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                </td>
                                <td class="text-left">{% if sort == 'id' %}
                                        <a href="{{ sort_id }}" class="{{ order|lower }}">ID</a>
                                    {% else %}
                                        <a href="{{ sort_id }}">ID</a>
                                    {% endif %}</td>
                                <td class="text-left">Иконка</td>
                                <td class="text-left">{% if sort == 'name' %}
                                        <a href="{{ sort_name }}" class="{{ order|lower }}">Название</a>
                                    {% else %}
                                        <a href="{{ sort_name }}">Название</a>
                                    {% endif %}</td>
                                <td class="text-left">{% if sort == 'parent_id' %}
                                        <a href="{{ sort_parent_id }}" class="{{ order|lower }}">Родительская
                                            категория</a>
                                    {% else %}
                                        <a href="{{ sort_parent_id }}">Родительская категория</a>
                                    {% endif %}</td>
                                <td class="text-left">Алиас</td>
                                <td class="text-left">Описание</td>
                                <td class="text-right">Действие</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if organizations_cats %}
                                {% for organization_cat in organizations_cats %}
                                    <tr>
                                        <td class="text-center">{% if organization_cat.id in selected %}
                                                <input type="checkbox" name="selected[]"
                                                       value="{{ organization_cat.id }}" checked="checked"/>
                                            {% else %}
                                                <input type="checkbox" name="selected[]"
                                                       value="{{ organization_cat.id }}"/>
                                            {% endif %}</td>
                                        <td class="text-left">{{ organization_cat.id }}</td>
                                        <td class="text-center">
                                            {% if organization_cat.icon %}
                                                <i class="{{ organization_cat.icon }}"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">{{ organization_cat.name }}</td>
                                        <td class="text-left">{{ organization_cat.parent }}</td>
                                        <td class="text-left">{{ organization_cat.alias }}</td>
                                        <td class="text-left">{{ organization_cat.desc }}</td>
                                        <td class="text-right">
                                            <a href="{{ organization_cat.edit }}" data-toggle="tooltip"
                                               title="{{ button_edit }}" class="btn btn-warning"><i
                                                        class="fa fa-pencil"></i></a>
                                            <a data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                                               onclick="confirm('{{ text_confirm }}') ? window.location.replace('{{ organization_cat.delete }}') : false;"><i
                                                        class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
