{{ header }}
<div id="common-home">
    <div id="page" class="">
        <div id="content">
            <div class="main-container">
                <div class="position-absolute m-2 z-1">
                    <button id="menu_open_btn" class="btn btn-light text-muted shadow-sm fs-4 rounded-circle m-1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="menu-block">
                    <nav id="menu">
                        <ul>
                            {% if menu %}
                                {% for cat in menu %}
                                    <li data-parent-cat-id="{{ cat.id }}">
                                        <span>
                                            {% if cat.icon %}
                                                <i class="{{ cat.icon }}"></i>
                                            {% endif %}
                                            {{ cat.name }}
                                            {% if cat.desc %}
                                                <h6 class="text-muted mt-1">{{ cat.desc }}</h6>
                                            {% endif %}
                                        </span>
                                        <ul>
                                            {% if cat.child %}
                                                {% for child in cat.child %}
                                                    <li data-child-cat-id="{{ child.id }}">
                                                        <span>
                                                            {% if child.icon %}
                                                                <i class="{{ child.icon }}"></i>
                                                            {% endif %}
                                                            {{ child.name }}
                                                            {% if child.desc %}
                                                                <h6 class="text-muted mt-1">{{ child.desc }}</h6>
                                                            {% endif %}
                                                        </span>
                                                        <ul>
                                                            {% if child.org %}
                                                                {% for org in child.org %}
                                                                    <li data-org-id="{{ org.id }}">
                                                                        <a href="#">{{ org.name }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="m-3">
                                                                    <h5 class="text-muted text-center">Нету организаций!
                                                                        😖</h5>
                                                                </div>
                                                            {% endif %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <div class="m-3">
                                                    <h5 class="text-muted text-center">Нету категорий! 😖</h5>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="m-3">
                                    <h5 class="text-muted text-center">Нету родительских категорий! 😖</h5>
                                </div>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
