{{ header }}
<div id="common-home">
    <div class="">
        <div id="content">
            <div class="main-container">
                <div class="z-0" id="menu">
                    {% if organizations %}
                        {% for organization in organizations %}
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1 text-muted">{{ organization.name }}</strong>
                                        <small class="text-danger">{{ organization.category }}</small>
                                    </div>
                                    <div class="col-10 mb-1 small text-muted">{{ organization.desc }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h6 class="text-center text-muted m-1">Нету организаций! 😖</h6>
                    {% endif %}
                </div>
                <div class="z-0" id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
