{{ header }}
<div id="common-home">
    <div id="page" class="">
        <div id="content">
            <div class="main-container">
                <div class="menu-block">
                    <div class="position-absolute m-2 z-1">
                        <a href="#menu" class="btn btn-light text-muted shadow-sm fs-4 rounded-circle m-1">
                            <ion-icon name="menu-outline"></ion-icon>
                        </a>
                    </div>
                    <nav id="menu">
                        <ul>
                            {% if menu %}
                                {% for cat in menu %}
                                    <li>
                                        <span>{{ cat.name }}</span>
                                        <ul>
                                            {% if cat.child %}
                                                {% for child in cat.child %}
                                                    <li>
                                                        <span>
                                                            {{ child.name }}<br>
                                                            {% if child.description %}
                                                                <p class="text-muted mt-1">{{ child.description }}</p>
                                                            {% endif %}
                                                        </span>
                                                        <ul>
                                                            {% if child.org %}
                                                                {% for org in child.org %}
                                                                    <a href="#">{{ org.name }}</a>
                                                                    <span>{{ org.description }}</span>
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="m-3">
                                                                    <h5 class="text-muted text-center">Нету организаций!
                                                                        😖</h5>
                                                                </div>
                                                            {% endif %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <div class="m-3">
                                                    <h5 class="text-muted text-center">Нету категорий! 😖</h5>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="m-3">
                                    <h5 class="text-muted text-center">Нету родительских категорий! 😖</h5>
                                </div>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
