{{ header }}
<div id="common-home">
    <div id="page" class="">
        <div id="content">
            <div class="main-container">
                <div class="menu-block">
                    <div class="position-absolute m-2 z-1">
                        <a href="#menu" class="btn btn-light text-muted shadow-sm fs-4 rounded-circle m-1">
                            <ion-icon name="menu-outline"></ion-icon>
                        </a>
                        <a href="#menu" class="btn btn-light text-muted shadow-sm fs-4 rounded-circle m-1">
                            <ion-icon name="search"></ion-icon>
                        </a>
                        <a href="#menu" class="btn btn-light text-muted shadow-sm fs-4 rounded-circle m-1">
                            <ion-icon name="person-circle"></ion-icon>
                        </a>
                    </div>
                    <nav id="menu">
                        <ul>
                            {% if cat_organizations %}
                                {% for cat in cat_organizations %}
                                    <li>
                                        <span>{{ cat.name }}</span>
                                        <ul>
                                            {% if organizations %}
                                                {% for organization in organizations %}
                                                    {% if organization.cat_id == cat.id %}
                                                        <li>
                                                            <a href="#">{{ organization.name }}</a>
                                                            <span>{{ organization.desc }}</span>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <div class="m-3">
                                                    <h5 class="text-muted text-center">Нету организаций! 😖</h5>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="m-3">
                                    <h5 class="text-muted text-center">Нету категорий! 😖</h5>
                                </div>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
